/* * {
    overflow: hidden;
} */

.welcome-mess,
#error {
    background-color: #5C72FF;
    background-image: linear-gradient(to right, #2741e9, #7727f0);
    z-index: 3;

    width: fit-content;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.form-container {
    margin: auto;

    background-color: #5C72FF;
    background-image: linear-gradient(to right, #2741e9, #7727f0);
    width: 330px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#contact-us-img {
    float: left;
    width: 50px;
}

.form-head-container {
    background-color: #5C72FF;
    background-image: linear-gradient(to right, #1a36e7, #6a17e6);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
}

.form-items {
    margin-left: 15px;
    color: white;
    padding-left: 8px;
}

#contact-us-form {
    position: relative;
}

#contact-us-form input,
#contact-us-form select,
#contact-us-form textarea {
    position: absolute;
    left: 130px;
}

.label-input-container {

    padding: 10px 0px;
}


#contact-us-label {
    color: white;
    font-size: 20px;

}

#submit-btn {
    background-color: #813588;
    border: none;
    color: white;
    padding: 7px 12px;
    margin: 9px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

#submit-btn:hover {
    background-color: #FF5263;
}

div#Call-Maker-Container {
    /* position: fixed;
    top: 0px;
    left: 0px; */
    z-index: 3;

}

#current-time {
    color: white;
}

#img-person {
   

    border-radius: 100%;
    display: flex;
    margin: auto;
    height: 100px;
    width: 100px;
    overflow: hidden;

}
#img-taken-person {
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius: 100%;
    display: flex;
    margin: 100px auto;
    height: 150px;
    width: 150px;
    overflow: hidden;
}

#img-hangup-icon,
#img-takeup-icon,
#img-mess-icon {
    border-radius: 100%;
    display: inline;

    padding: 20px;
    margin: auto;
    width: 63px;
    align-items: center;
    justify-content: space-evenly;
    ;
}
#img-hangup-icon {
    width: 90px;
}

#img-takeup-icon,
#img-hangup-icon {
    animation-name: animated-call-pickup;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    transition: 0.5s;
}

@keyframes animated-call-pickup {
    0% {
        position: relative;
        bottom: 0
    }

    25% {
        position: relative;
        bottom: 10px
    }

}

/* #img-mess-icon {
    background-color: rgb(0, 0, 0);
    width: 50px;
    padding: 0px;
    border-radius: 0 !important;
} */
/* #img-cont-container{
    position: absolute;
    bottom: 10px;
    display: inline;
} */
#img-container {
    display: flex;
    margin-left: auto;
    margin-top: 280px;
    padding: 0px;
    align-items: center;
    justify-content: space-evenly;
}

#callername,
#callerno,
#wavoicecall {
    display: flex;
    margin: auto;

    width: 200px;
    align-items: center;
    justify-content: space-evenly;
}

#callername,
#callerno {
    color: white;
    font-weight: 150;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 0%;
    text-align: center;

}


#callerno {
    padding-top: 0;
}

#wavoicecall {
    color: #8b8b8b;
    font-weight: 200;
    font-size: large;
    padding: 10px;
    text-align: right;


}

.img-arrow-icon {
    animation-name: animated-arrow-pickup;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-direction: normal;
    opacity: 0.3;
    transition: 0.9s;

}

@keyframes animated-arrow-pickup {
    0% {
        position: relative;
        bottom: 0;
        opacity: 1;
    }

    100% {
        position: relative;
        bottom: 20px;
        opacity: 0;
    }

}



body {
    background-image: url('wp7130410.webp');

}

audio {
    position: fixed;
    top: 20px;

}

#swipeuptext {
    animation-name: animated-swipe-up-text;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-direction: normal;
    opacity: 0.3;
    transition: 20s;

}

@keyframes animated-swipe-up-text {
    50% {
        position: relative;
        bottom: 2px;
    }

    100% {
        position: relative;
        bottom: 4px;
    }
}
/* Call taken up Container-css */
#down-arrow {
    transform: rotate(180deg);
    width: 30px;
}

#add-con-img {
    border-radius: 100%;
    width: 30px;
}

#down-arrow,
#add-con-img {
    border-radius: 100%;
    display: inline;

    padding: 20px;
    margin: auto;

    align-items: center;
    justify-content: space-evenly;
    ;
}

#stopwatch {
    margin: 15px;
    color: #8b8b8b;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#bottom-call-tool-container {
    background-color: #1f2c34;
    padding: 70px 30px ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    /* position: fixed;
    bottom: 0px;
    margin: auto;
    padding: auto; */
    position: relative;
   
}

/* #end-2-text {
    margin-left: -500px;
    margin-right: -500px;
} */

#down-icon-arrow {
    transform: rotate(-90deg);
    position: absolute;
    top: 0px;
    margin: 10px;}

